@import url("https://fonts.googleapis.com/css?family=Dosis");

nav ul li {
  display: inline;
  font-size: 1.5em;
  margin: 0.5rem;
  list-style-type: none;
  white-space: nowrap;
  padding: 0.5rem;
}

ol.experienceList {
  list-style: none;
}
nav ul li:hover {
  cursor: pointer;
  background-color: rgba(184, 222, 255, 0.363);
  border-radius: 15px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  width: 100%;
}

body {
  font-family: Dosis;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

h1.mainTitle {
  font-size: 3em;
  margin: 0;
}

h2.subTitle {
  margin: 0;
  font-size: 1.2em;
}

section.titlesBox {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 1rem;
}

#pageContent {
  margin: 5rem;
  font-size: 1.5em;
}

img.profileImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5rem;
}

img.aboutImage {
  height: 50rem;
  width: auto;
  margin: auto;
  border-radius: 10%;
}

.aboutShow {
  margin: 5rem;
}
.aboutArticle {
  width: 40rem;
  text-align: center;
}

.aboutDivider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

img.generalImage {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5rem;
}

img.generalImage:hover {
  cursor: pointer;
  transform: scale(1.1);
}

div.profilePicHolder {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.center {
  text-align: center;
}

div.blockHolder {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.block1 {
  display: block;
  background-color: rgba(241, 175, 224, 0.356);
  width: 20rem;
  height: 50rem;
}
.block2 {
  display: block;
  background-color: rgb(146, 146, 209, 0.356);
  width: 25rem;
  height: 60rem;
}
.block3 {
  display: block;
  background-color: rgb(160, 204, 160, 0.356);
  width: 20rem;
  height: 50rem;
}
.block4 {
  display: block;
  background-color: rgb(255, 255, 163, 0.356);
  width: 20rem;
  height: 80rem;
}

.block5 {
  display: block;
  background-color: rgb(255, 174, 187, 0.356);
  width: 20rem;
  height: 50rem;
}

.block6 {
  display: block;
  background-color: rgb(152, 206, 200, 0.356);
  width: 20rem;
  height: 52rem;
}

.block7 {
  display: block;
  background-color: rgb(191, 169, 243, 0.356);
  width: 5rem;
  height: 70rem;
}

.projectsDivider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.projectSection {
  width: 20rem;
  height: 20rem;
  display: block;
  background-color: pink;
  padding: 0.5rem;
  border-radius: 5%;
  margin: 0.4rem;
}

@media only screen and (max-width: 700px) {
  .aboutArticle {
    text-align: start;
    padding: 10px;
    width: 20rem;
  }

  img.aboutImage {
    height: 25rem;
  }

  .projectsDivider {
    width: 20rem;
    justify-content: center;
  }

  .projectSection {
    width: 100%;
    height: 100%;
    display: block;
    background-color: pink;
    padding: 0.5rem;
    border-radius: 5%;
    margin: 0.4rem;
  }

  .experienceSection {
    width: 20rem;
  }
}
